@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --very-dark-blue:hsl(238, 29%, 16%);
    --soft-red:hsl(14, 88%, 65%);

    --soft-violet:hsl(273, 75%, 66%);
    --soft-blue:hsl(240, 73%, 65%);

    --very-dark-grayish-blue:hsl(237, 12%, 33%);
    --dark-grayish-blue:hsl(240, 6%, 50%);

    --light-grayish0blue:hsl(240, 5%, 91%);

    font-size: 62.5%;
    --lg:2.8rem;
    --md:1.4rem;
    --sm:1.2rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    font-family: 'Kumbh Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}
.mainContainer{
    display: grid;
    place-items: center;

    width: 100vw;
    height: 97vh;
}
.card{
    display: grid;
    place-items: start center;
    grid-template-rows: 25% 10% 60%;
    
    width: 33.0rem;
    height: 65%;
    padding: 2.0rem;
    
    background-color: white;
    border-radius: 2.0rem;
}
.card__mobileImages{
    position:relative;
    height: 100%;
    width: 100%;
}
.mobileImgs{
    width: 80%;
    position: absolute;
    left: 10%;
}
.mobileShadow{
    top: -3.0rem
}
.womanImageMobile{
    top:-13.6rem
}
.card__title{
    font-size: var(--lg);
    font-weight: bold;
    color: var(--very-dark-blue);
}
.question{
    font-size: var(--sm);
    color: var(--dark-grayish-blue);
}
.questionTitle{
    font-size: var(--md);
    color: var(--very-dark-grayish-blue);
}
.titleContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.card__questions{
    width: 100%;
}
.questionWrap{
    height: 3.0rem;
    border-bottom: 1px var(--light-grayish0blue) solid;
    margin-top: 2.0rem;
    padding-bottom: 0rem;
    padding-left: .2rem;
    padding-right: .2rem;
}
.titleContainer:hover{
    cursor: pointer;
}
.titlemodified{
    color: var(--very-dark-blue);
    font-weight: 700;
}
.modifier{
    height: fit-content;
    color: var(--very-dark-blue);
    padding-bottom: 1.0rem;
}
.inactive{
    display: none;
}
.card__desktopImages{
    display: none;
}
@media (min-width:1000px) {
    .card{
        position: relative;
        display: grid;
        place-items:start;
        grid-template-columns: 55% 45%;
        grid-template-rows:20% 80%;

        width: 80.0rem;
        height: 50.0rem;
    }
    .card__mobileImages{
        display: none;
    }
    .card__desktopImages{
        position: absolute;
        display: block;
        grid-row:1/3;

        top: -2.2rem;
        width: 55%;
        height: 130%
    }
    .card__title{
        grid-area: 1/2/2/3;

        margin-top: 4.5rem;
    }
    .questionTitle:hover{
        color: var(--soft-red);
    }
    .card__questions{
        display: flex;
        flex-direction: column;
        grid-area: 2/2/3/3;

        height: 90%;
        justify-content: space-evenly;
    }
    .questionWrap{
        margin: 0;
    }
    .desktopImg{
        position: absolute;
        top: 7.5rem;
        left: -5.0rem;
    }
    .womanImageDesktop{
        top: 8.5rem;
        left: -7.6rem;
        z-index: 2;
        width: 43.0rem;
        clip-path: inset(0 0 0 17.5%);
    }
    .desktopShadow{
        top: -28.8rem;
        left: -61.6rem;
        z-index: 1;
        clip-path: inset(30.5% 0 16% 63.5%);
    }
    .boxImage{
        top: 21.5rem;
        left: -7.6rem;
        z-index: 3;
        width: 16.0rem;
    }
}